<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <data-source>
        <name>java:ds/hydroZagadka</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
        <url>jdbc:mysql://127.0.0.1:3306/hydroZagadka?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw</url>
        <user>root</user>
        <password>pass123</password>
    </data-source>
</web-app>