<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <data-source>
        <name>java:ds/hydroZagadka</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>

        <url>jdbc:mysql://db:3306/hydroZagadka?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw;&amp;useUnicode=true&amp;characterEncoding=UTF-8</url>
        <user>hydroZagadka</user>
        <password>hydroZagadka123</password>

    </data-source>
    <welcome-file-list>
        <welcome-file>/welcome</welcome-file>
    </welcome-file-list>
    <error-page>
        <location>/error</location>
    </error-page>

</web-app>