<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

        <Properties>
            <Property name="basePath">"/opt/jboss/patataje-logs</Property>
        </Properties>

    <Appenders>
        <RollingFile name="fileLogger"
                     fileName="${basePath}/HydroZagadakaApp-info.log"
                     immediateFlush="true"
                     filePattern="${basePath}/HydroZagadakaApp-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.hydrozagadka" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug"/>
        </Logger>


            <Root level="debug" additivity="false">
                <AppenderRef ref="Console" level="error" />
                <AppenderRef ref="RollingFile" level="info" />
            </Root>
    </Loggers>
</Configuration>