<style>
    .watercontainerform{
        width: 100%;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
            }
    .selector,.form-inline {
        margin-left: auto;
        margin-right: auto;

    }

    form{
        width: 300px;
        margin: 0 auto;
    }

</style>

<div class="watercontainerform">
    <link type="text/css" href="../../../HydroZagadkaFront/css/watercontainerformstyle.css">
<form class="form-inline">
    <div class="formclass" id="provincelist">
   Województwo:  <select class="selector" id="province" name="state" title="Województwo" style="width: 200px;">
        <option value="-1">[Wybor]</option>
        <option value="pomorskie">pomorskie</option>
        <option value="lubuskie">lubuskie</option>
        <option value="lubelskie">lubelskie</option>
        <option value="podkarpackie">podkarpackie</option>
        <option value="warmińsko-mazurskie">warmińsko-mazurskie</option>
        <option value="zachodniopomorskie">zachodniopomorskie</option>
        <option value="podlaskie">podlaskie</option>
        <option value="opolskie">opolskie</option>
        <option value="śląskie">śląskie</option>
        <option value="mazowieckie">mazowieckie</option>
        <option value="podlaskie">podlaskie</option>
        <option value="dolnośląskie">dolnośląskie</option>
        <option value="wielkopolskie">wielkopolskie</option>
        <option value="świętokrzyskie">świętokrzyskie</option>
        <option value="małopolskie">małopolskie</option>
        <option value="łódzkie">łódzkie</option>

    </select>
    <div class="formclass" id="watercontainerlist" style="display: none;">
      Zbionik:  <select class="selector" id="watercontainer" name="watercontainer" title="Zbiornik" style="width: 200px;">
        </select>
    </div>
    </div>
</form>
<div class="formclass" id="stationlist" style="display: none; margin-left: 50px;">
    <form class="history-form form-inline">
        <div style="text-align: center">Stacja pomiarowa:</div> <select class="selector" id="station" name="station" title="Stacja" style="width: 200px;margin-left: 40px">
    </select>
        <input type="submit" value="Sprawdź" style="margin-left: 60px">
    </form>
</div>
</div>

