<style>
    .formclass{
        width: 100%;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;

    }


</style>

<div class="watercontainerform">
    <link type="text/css" href="../../../HydroZagadkaFront/css/watercontainerformstyle.css">
<form class="form-inline">
    <div class="formclass" id="provincelist">
   Województwo:  <select class="selector" id="province" name="state" title="Województwo">
        <option value="-1">[Wybor]</option>
        <option value="pomorskie">pomorskie</option>
        <option value="lubuskie">lubuskie</option>
        <option value="lubelskie">lubelskie</option>
        <option value="podkarpackie">podkarpackie</option>
        <option value="warmińsko-mazurskie">warmińsko-mazurskie</option>
        <option value="zachodniopomorskie">zachodniopomorskie</option>
        <option value="podlaskie">podlaskie</option>
        <option value="opolskie">opolskie</option>
        <option value="śląskie">śląskie</option>
        <option value="mazowieckie">mazowieckie</option>
        <option value="podlaskie">podlaskie</option>
        <option value="dolnośląskie">dolnośląskie</option>
        <option value="wielkopolskie">wielkopolskie</option>
        <option value="świętokrzyskie">świętokrzyskie</option>
        <option value="małopolskie">małopolskie</option>
        <option value="łódzkie">łódzkie</option>

    </select>
    </div>
    <br>
    <div class="formclass" id="watercontainerlist" style="display: none">
      Zbionik:  <select class="selector" id="watercontainer" name="watercontainer" title="Zbiornik">
        </select>
    </div>
</form>
<br>
<div class="formclass" id="stationlist" style="display: none">
    <form class="history-form form-inline">
   Stacja pomiarowa: <select class="selector" id="station" name="station" title="Stacja">
    </select>
        <button type="submit">Sprawdź</button>
    </form>
</div>
</div>

